<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.5.1.18" targetFramework="net452" />
  <package id="AWSSDK.SQS" version="3.5.0.20" targetFramework="net452" />
  <package id="BouncyCastle.NetCore" version="1.8.6" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net452" />
  <package id="NLog" version="4.7.5" targetFramework="net452" />
  <package id="Refinitiv.DataPlatform" version="1.0.0-alpha3" targetFramework="net452" />
  <package id="Refinitiv.DataPlatform.Content" version="1.0.0-alpha3" targetFramework="net452" />
  <package id="SuperSocket.ClientEngine.Core" version="0.10.0" targetFramework="net452" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net452" />
  <package id="WebSocket4Net" version="0.15.2" targetFramework="net452" />
</packages>